JWT_SECRET_KEY=rp24
JWT_EXPIRATION_TIME=31556952s
JWT_EXPIRATION_LONG_TIME=31556952s

OTP_DURATION_IN_SECS=300

REDIS_HOST=localhost
REDIS_PORT=6666
REDIS_PASSWORD=rahat123
REDIS_URL=redis://:rahat123@localhost:6666/0

# DB Connection
DB_HOST=localhost
DB_PORT=5555
DB_USERNAME=rahat
DB_PASSWORD=rahat123
DB_NAME=ecommerce
DATABASE_URL=postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public
